<div class="login-area">
  <%= image_tag "logo-3491390_1920.svg", class: "log-in-logo"%>
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="form-inputs">
    
      <div class="input_log email optional user_email">
        <input placeholder="Email" autocomplete="email" class="log-bar string email optional" autofocus="autofocus" type="email" value="" name="user[email]" id="user_email">
      </div>

      <div class="input_log password optional user_password">
        <input placeholder="Password" autocomplete="current-password" class="log-bar password optional" type="password" name="user[password]" id="user_password">
      </div>

      <div class="input_log boolean optional user_remember_me">
        <input value="0" autocomplete="off" type="hidden" name="user[remember_me]">
        <label class="boolean optional checkbox" for="user_remember_me">
        <input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">Remember me</label>
      </div>

    </div>

    <div class="form-actions-log">
      <%= f.button :submit, "Log in" %>
    </div>

    <div class="form-actions-log2">
         <%= render "devise/shared/links" %>
    </div>
     
    
  <% end %>
  
</div> 
