@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;600;800&display=swap');

body, html {
    margin: 0;
    background: #cae7ff;
}
  
.app-area {
    height: 90%;
    margin: 70px 140px 70px 140px;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 1px 3px 35px 0px #00000047;
    display: grid;
    grid-template: 70px 70px 12fr / 0.8fr 2fr 1.8fr;
    grid-template-areas: "side-left home trends"
                     "side-left my-post trends"
                     "side-left posts trends";
    min-width: 1594px;
    min-height: 291px;
}

.logo {
    height: 54px;
    width: auto;
    transform: rotate(356deg);
    margin-left: 5px;
}

.logo:hover {
    filter:drop-shadow(0px 3px 3px rgba(3, 2, 58, 0.253));
}

.new-tweet-button {
    border-radius: 30px;
    border: none;
    width: 168px;
    height: 40px;
    font-family: 'Inter',sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: #1ca1f1;
    transition: all 0.07s ease;
    position: absolute;
    left: -244px;
    top: 134px;
}

.input {
    position: relative;
    grid-area: my-post;
    left: 11px;
    top: 7px;
}

textarea[id="tweeet_tweeet"] {
    height: 16px;
    width: 422px;
    resize: none;
    border: none;
    outline: none;
    border-radius: 13px;
    background-color: #eeeeee;
    padding: 13px;
    padding-left: 30px;
    font-family: 'Inter',sans-serif;
    font-weight: 200;
}


.new-tweet-button:hover {
    filter:drop-shadow(0px 3px 3px rgba(3, 2, 58, 0.253));
}

.new-tweet-button:active {
    transform: scale(95%);
}

.menu-left {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.links-menu {
    margin-bottom: 21px;    
}

.my-post {
    grid-area: my-post;
    border-bottom: 2px solid #eeeeee; 
    border-left: 2px solid #eeeeee; 
    border-right: 2px solid #eeeeee; 
}

.links-menu:hover .tabs {
    color: #1ea0f3;
}
.links-menu:hover .icon-menu {
    filter: invert(71%) sepia(58%) saturate(6411%) hue-rotate(178deg) brightness(100%) contrast(91%);

}

.tabs {
    position: relative;
    left: 10px;
    top: -5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.icon-menu {
    height: 30px;
    width: auto;
    margin-left:12px;
}

.side-left {
    grid-area: side-left;
    padding-top: 14px;
    padding-left: 65px;
    border-right: 2px solid #eeeeee; 
}

.header {
    grid-area: home;   
    border-bottom: 2px solid #eeeeee; 
    border-left: 2px solid #eeeeee; 
    border-right: 2px solid #eeeeee; 
}

.header-contents {
    font-family: 'Inter',sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    margin: 22px 0 10px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 656px;
}

.trends {
    grid-area: trends;
    border-left: 2px solid #eeeeee;
}

.posts {
    grid-area: posts;
    border-bottom: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
}

.post {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 2px solid #eeeeeea3;
    padding: 22px;
    border-bottom: 2px solid #eeeeee;
    min-height: 112px;
    max-width: 681px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 50%;
    position: relative;
}

.input-pic {
    height: 39px;
    width: 39px;
}

.post_id, .comment {
    font-family: 'Inter',sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
    color: #545454d9;
    margin: 23px 0 0 26px;
}

.posts > .post > .post-top > .profile-pic + .username {
    position: relative;
    top: -12px;
    left: 8px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.post > .post-top > .post_id {
    position: relative;
    color: #6c6464;
    font-size: 16px;
    left: -9px;
    top: -19px;
}

.post > .post-mid > .comment {
    position: relative;
    left: 42px;
    top: -54px;
    max-width: 400px;
}

.comm-icon {
    height: 22px;
    position: relative;
    top: -44px;
    left: 67px;
    filter: invert(85%) sepia(5%) saturate(12%) hue-rotate(131deg) brightness(84%) contrast(83%);
}

.comm-icon-link > .comm-icon:hover {
    filter: invert(29%) sepia(100%) saturate(2602%) hue-rotate(342deg) brightness(86%) contrast(102%);
}

.comm-count {
    position: relative;
    top: -49px;
    left: 66px;
    font-family: 'Inter',sans-serif;
    font-weight: 200;
    color: #545454d9;
    font-size: 0.98rem;
}

.notice {
    font-family: 'Inter',sans-serif;
    position: relative;
    left: 601px;
    top: 114px;
    font-weight: 600;
}

.edit-icon {
    height: 22px;
}

.edit-icon-link {
    position: relative;
    height: 22px;
    top: -93px;
    left: 186px;
    filter: invert(85%) sepia(5%) saturate(12%) hue-rotate(131deg) brightness(84%) contrast(83%);
}

.del-button {
    position: relative;
    height: 22px;
    top: -119px;
    left: 223px;
    filter: invert(85%) sepia(5%) saturate(12%) hue-rotate(131deg) brightness(84%) contrast(83%);
}

.view-icon-link {
    position: relative;
    height: 22px;
    top: -42px;
    left: 80px;
    filter: invert(85%) sepia(5%) saturate(12%) hue-rotate(131deg) brightness(84%) contrast(83%);
}

.title {
    font-family: 'Inter',sans-serif;
    font-size: 15px;

}

.text {
    margin-left: 30px;
}

.post-top {
    display: flex;
}

.post-bot {
    position: relative;
    top: 0px;
    left: 0px;
}

.button_cont {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 40px;
}
