.login-area2 {
    height: 90%;
    margin: 70px 140px 70px 25%;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 1px 3px 35px 0px #00000047;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 339px;
    min-height: 366px;
    max-width: 812px;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: inherit;
}

.posts2 {
    grid-area: posts;
}

.post2 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 22px;
    min-height: 112px;
    max-width: 681px;
    width: 707px;
}

.profile-pic2 {
    width: 169px;
    height: 169px;
    object-fit: cover;
    object-position: 50% 0;
    border-radius: 50%;
    position: relative;
}

.post_id2, .comment2 {
    font-family: 'Inter',sans-serif;
    font-weight: 200;
    font-size: 2.3rem;
    color: #545454a6;
    margin: 23px 0 0 26px;
}

.posts2 > .post2 > .post-top > .profile-pic2 + .username2 {
    position: relative;
    top: -12px;
    left: 8px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

.post2 > .post-top > .post_id2 {
    position: relative;
    color: #6c6464;
    font-size: 1.5rem;
    left: -9px;
    top: 10px;
}

.post-mid2 {
    display: flex;

}

.post_id2, .comment2 {
    font-family: 'Inter',sans-serif;
    font-weight: 200;
    font-size: 2.3rem;
    color: #545454a6;
    margin: 23px 0 0 26px;
    overflow-wrap: anywhere;
}

.post-bot2 {
    position: relative;
    bottom: -97px;
    left: 196px;
}

.new-tweet-button2 {
    border-radius: 30px;
    border: none;
    width: 168px;
    height: 40px;
    font-family: 'Inter',sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: #1ca1f1;
    transition: all 0.07s ease;
    position: absolute;
    left: 54px;
    top: 67px;
}